$font-size-main: 16;

$text: rgb(69, 69, 69);
$white: rgb(255, 255, 255);
$black: rgb(0,0,0);

$blue: rgb(8, 54, 81);
$ffeBlue: rgb(32, 49, 77);
//$blue-dark:;
//$blue-darkest: ;
$blue-light: rgb(3, 103, 166);
$blue-lightest: rgb(0, 167, 255);

$gray: rgb(178, 178, 178);
$gray-lightest: rgba(245, 245, 245, .60);
$border-color-gray: rgb(211, 211, 211);
$nav-dropdown-hover: #668393;

$orange: rgb(233, 94, 15);
$danger: rgb(177, 42, 42);
$success: rgb(77, 139, 33);

$body-bg: rgb(248, 248, 248);

// Typography
$font-family-main: 'Rajdhani', sans-serif;
$font-family-icon-regular: 'LineIconsPro Regular';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
